<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<!--使用逆向工程生成数据库对应表的POJO类、DAO接口和映射文件-->
<generatorConfiguration>

    <context id="DB2Tables" targetRuntime="MyBatis3">
        <!--不生成注释-->
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
        </commentGenerator>

        <!--配置数据库连接-->
        <jdbcConnection driverClass="com.mysql.cj.jdbc.Driver"
                        connectionURL="jdbc:mysql://localhost:3306/miaosha?tinyInt1isBit=false&amp;serverTimezone=Asia/Shanghai"
                        userId="root"
                        password="admin">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="false" />
        </javaTypeResolver>

        <!--指定dataobject生成位置-->
        <javaModelGenerator targetPackage="com.laishiji.miaosha.dataobject" targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <!--指定SQL映射文件生成位置-->
        <sqlMapGenerator targetPackage="mapper"  targetProject=".\src\main\resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!--指定DAO接口生成位置-->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.laishiji.miaosha.dao"  targetProject=".\src\main\java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--指定数据库每个表的生成策略,并禁止一些条件查询，
            实际生产中稍微复杂一点的条件查询自己编写即可-->
<!--        <table tableName="user_info" domainObjectName="UserDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="user_password" domainObjectName="UserPasswordDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="item" domainObjectName="ItemDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="item_stock" domainObjectName="ItemStockDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="order_info" domainObjectName="OrderDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
<!--        <table tableName="sequence_info" domainObjectName="SequenceDO" enableCountByExample="false"-->
<!--               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"-->
<!--               selectByExampleQueryId="false"/>-->
        <table tableName="promo" domainObjectName="PromoDO" enableCountByExample="false"
               enableDeleteByExample="false" enableSelectByExample="false" enableUpdateByExample="false"
               selectByExampleQueryId="false"/>

    </context>
</generatorConfiguration>